<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Аутентификация</title>
</head>
<body>
    <p>
        Приложению необходим доступ к календарю, перейдите по <a href="{{ link }}" target="_blank">ссылке</a> и введите код: {{ code }},
        после чего войдите в аккаунт outlook и дайте разрешение на работу с данными.
    </p>
    <a href="calendar/">Отобразить каледнарь</a>
</body>
</html>